.kfm_plugin_default_contexticon{
	background-color:#eee;
	border:1px solid #ddd;
}
.kfm_plugin_image_resize_contexticon{

}
.kfm_plugin_download_contexticon{
	background-image:url(icons/downloadicon.gif);
	background-repeat:no-repeat;
}
.kfm_plugin_remove_contexticon{
	background-image:url(icons/remove.png);
	background-repeat:no-repeat;
}
.kfm_plugin_iframe_button{
	margin-left:10px;
	cursor:pointer;
	border-style:outset;
	border-color:#eee;
	border-width:2px;
}
.kfm_plugin_iframe_button:hover{
	background-color:white;
	color:black;
}
