<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
</IfModule>
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType application/x-shockwave-flash "access plus 52 weeks"
	ExpiresByType text/javascript "access plus 52 weeks"
	ExpiresByType text/css "access plus 52 weeks"
	ExpiresByType image/png "access plus 52 weeks"
</IfModule>
