body {
    margin: 0;
    padding: 0;
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

a:link {
    color: #0134c5;
    background-color: transparent;
    text-decoration: none;
    font-weight: normal;
}

a:visited {
    color: #0134c5;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
a[name]:hover {
	color: inherit;
}

a.def:link,
a.def:visited {
    color: #333;
    border-bottom: 1px solid #ccc;
}

a.def:hover {
    color: #0134c5;
}

#googleSearchBox:focus {
	background-color: #FFF9D1;
	border-color: Black;
}

#breadcrumb {
    float: left;
    background-color: transparent;
    margin: 10px 0 0 42px;
    padding: 0;
    font-size: 10px;
    color: #666;
}

#breadcrumb_right {
    float: right;
    width: 175px;
    background-color: transparent;
    padding: 8px 8px 3px 0;
    text-align: right;
    font-size: 10px;
    color: #666;
}

#nav {
    background-color: #494949;
    margin: 0;
    padding: 0;
}

#nav2 {
    background: #fff url(../images/nav_bg_darker.jpg) repeat-x left top;
    padding: 0 310px 0 0;
    margin: 0;
    text-align: right;
}

#nav_inner {
    background-color: transparent;
    padding: 8px 12px 0 20px;
    margin: 0;
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    font-size: 11px;
}

#nav_inner h3 {
    font-size: 12px;
    color: #fff;
    margin: 0;
    padding: 0;
}

#nav_inner .td_sep {
    background: transparent url(../images/nav_separator_darker.jpg) repeat-y left top;
    width: 25%;
    padding: 0 0 0 20px;
}

#nav_inner td {
    width: 25%;
}

#nav_inner p {
    color: #eee;
    background-color: transparent;
    padding: 0;
    margin: 0 0 10px 0;
}

#nav_inner ul {
    list-style-image: url(../images/arrow.gif);
    padding: 0 0 0 18px;
    margin: 8px 0 12px 0;
}

#nav_inner li {
    padding: 0;
    margin: 0 0 4px 0;
}

#nav_inner a {
    color: #eee;
    background-color: transparent;
    text-decoration: none;
    font-weight: normal;
}

#nav_inner a:visited {
    color: #eee;
    background-color: transparent;
    text-decoration: none;
}

#nav_inner a:hover {
    color: #ccc;
    text-decoration: none;
    background-color: transparent;
}

#masthead {
    margin: 0 40px 0 35px;
    padding: 0 0 0 6px;
    border-bottom: 1px solid #999;
}

#masthead h1 {
    background-color: transparent;
    color: #e13300;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 6px 0;
}

#searchbox {
    background-color: transparent;
    padding: 6px 40px 0 0;
    text-align: right;
    font-size: 10px;
    color: #666;
}

#img_welcome {
    border-bottom: 1px solid #D0D0D0;
    margin: 0 40px 0 40px;
    padding: 0;
    text-align: center;
}

#content {
    margin: 20px 40px 0 40px;
    padding: 0;
}

#content p {
    margin: 12px 20px 12px 0;
}

#content h1 {
    color: #e13300;
    border-bottom: 1px solid #666;
    background-color: transparent;
    font-weight: normal;
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 3px 0 7px 3px;
}

#content #mainlogo {
	border-bottom: none;
	text-align: center;
}

#content h2 {
    background-color: transparent;
    border-bottom: 1px solid #999;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 28px 0 16px 0;
    padding: 5px 0 6px 0;
}

#content h3 {
    background-color: transparent;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0 15px 0;
    padding: 0 0 0 0;
}

#content h4 {
    background-color: transparent;
    color: #444;
    font-size: 14px;
    font-weight: bold;
    margin: 22px 0 0 0;
    padding: 0 0 0 0;
}

#content img {
    margin: auto;
    padding: 0;
}

#content tt,
#content pre,
#content pre var,
#content pre kbd,
#content pre samp,
#content pre dfn {
    font-family: Consolas, Monaco, Lucida Console, Lucida Sans Typewriter, Courier, Courier New, Sans-serif !important;
    font-weight: normal;
}

/* Syntax Highlighted Source */
#content pre {
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
    overflow: auto;
	white-space: pre;
    color: #333;
    max-height: 30em;
}

#content pre.full {
	max-height: inherit !important;
}
#content pre var b {
	font-weight: normal;
}
#content td pre {
	margin: 0;
	background: transparent;
	bordeR: none;
	overflow: visible;
	padding: 0;
}
#content pre div.lineNums {
	float: left;
	margin: -12px 4px -12px -10px;
	padding: 12px 6px 12px 14px;
	color: #999;
	background-color: #E0E0E0;
	white-space: pre;
	border-right: 1px solid #CCC;
}

#content td.pre {
    font-size: 11px;
    margin: 0;
    padding: .5em 1em;
    display: table-cell;
}

#content pre .new {
    font-style: normal;
    background: #DFF4FF;
}

#content .path {
    background-color: #EBF3EC;
    border: 1px solid #99BC99;
    color: #005702;
    text-align: center;
    margin: 0 0 14px 0;
    padding: 5px 10px 5px 8px;
}

/* PHP Values */
#content dfn {
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    color: #A70000;
    font-weight: bold;
    font-style: normal;
}
/* PHP Default */
#content var {
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    color: #002166;
    font-weight: bold;
    font-style: normal;
}
/* PHP Built-In Methods */
#content var b {
	color: #0134c5;
}
/* Comments */
#content samp {
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    color: #808080;
    font-weight: bold;
    font-style: normal;
}
/* PHP Keywords */
#content kbd {
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    color: #005702;
    font-weight: bold;
    font-style: normal;
}
/* DataMapper Methods */
#content var u {
	color: #DD6600;
	text-decoration: none;
}
#content var u.faded {
	color: #eab992;
}
/* DataMapper fields */
#content var i {
	color: #997733;
	font-style: normal;
}
/* Extension Methods */
#content var s {
	color: #480091;
	text-decoration: none;
}

#content ul {
    list-style-image: url(../images/arrow.gif);
    margin: 10px 0 12px 0;
}

#content li {
    margin-bottom: 9px;
}
#content table.contributors {
	border-collapse: collapse;
	border: none;
}
#content table.contributors td {
	vertical-align: top;
	padding: 5px;
}
#content table.contributors ul {
	list-style: square;
	color: #CCC;
}
#content table.contributors li {
	 margin-top: 3px;
	 margin-bottom: 3px;
}

#content li p {
    margin-left: 0;
    margin-right: 0;
}

#content .tableborder {
    border: 1px solid #999;
}

#content th {
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    background-color: #666;
    color: #fff;
    padding: 4px;
}

#content .tableborder td {
    font-weight: normal;
    font-size: 12px;
    padding: 6px;
    background-color: #f3f3f3;
}

#content .tdpackage {
    font-weight: normal;
    font-size: 12px;
}

#content .important {
    background: #FBE6F2;
    border: 1px solid #D893A1;
    color: #333;
    margin: 10px 0 5px 0;
    padding: 10px;
	overflow: auto;
}
#content .important strong em {
	font-weight: bold;
	color: Maroon;
	font-style: normal;
}

#content .note {
    background: #FFF9D1;
    border: 1px solid #D8A969;
    color: #333;
    margin: 10px 0 5px 0;
    padding: 10px;
	overflow: auto;
}
#content .note strong em {
	font-weight: bold;
	color: #b27140;
	font-style: normal;
}

#content div.highlight,
#content p.highlight {
    background: #F8F8F8;
    border: 1px solid #CCC;
    color: #333;
    margin: 10px 0 5px 0;
    padding: 10px;
	overflow: auto;
}

#content div.highlight pre,
#content p.highlight pre,
#content .note pre,
#content .important pre {
    background-color: White;
}

#content .important p, #content .note p, #content div.highlight p {
    margin: 6px 0 8px 0;
    padding: 0;
}

#content .important h3, #content .note h3, #content div.highlight h3 {
    margin-top: 0;
}

#content .important .leftpad {
    margin: 6px 0 8px 0;
    padding-left: 20px;
}

#content .critical {
    background: #FBE6F2;
    border: 1px solid #E68F8F;
    color: #333;
    margin: 10px 0 5px 0;
    padding: 10px;
}

#content .critical p {
    margin: 5px 0 6px 0;
    padding: 0;
}

#content dt {
    margin-top: 20px;
    font-weight: bold;
}

#content dd {
    margin-left: 30px;
}

#content dd p {
    margin: .5em 0;
}

#content dl .see {
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
}

#content.downloads .current {
    list-style: none;
    position: relative;
    height: 132px;
}

#content.downloads .full a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 261px;
    height: 45px;
    padding: 50px 28px 0 3px;
    padding-right: 30px;
    text-align: center;
    color: White;
    background: White url(../images/download.png) no-repeat left top;
    text-shadow: 0 2px 2px rgba(10, 10, 10, 50);
}

#content.downloads .full a:hover, #content.downloads .full a:active {
    background-position: left -300px;
    color: #e13300;
}

#content.downloads .lite,
#content.downloads .feed {
    position: absolute;
    top: 95px;
    left: 3px;
    width: 261px;
    text-align: center;
}
#content.downloads .feed {
	top: 118px;
	font-size: .95em;
}

#content.downloads .download-section {
	position: relative;
}
#content.downloads .download-section .hover {
	padding-left: 2px;
	color: #999;
	visibility: hidden;
}
#content.downloads .download-section .older {
	position: absolute;
	left: 5em;
	top: 0;
	min-width: 20em;
	display: none;
	border: 1px solid #DDD;
	margin: 0 .5em;
	padding: .5em;
	background-color: #FBFBFB;
	z-index: 1000;
}
#content.downloads .download-section:hover .older {
	display: block;
}
#content.downloads .download-section:hover .hover {
	visibility: visible;
}

#content .example {
    float: right;
    margin: 0 0 1em 2em;
    padding: 0 0 1em 0;
    font-size: .75em;
    background-color: #F2F2F2;
    border: 1px solid #D0D0D0;
    color: #666;
    width: 200px;
}
#content .example h4 {
    color: #333;
    background: #E0E0E0 url(../images/example.png) no-repeat 2px 2px;
    font-weight: bold;
    font-size: inherit;
    margin: 0 0 1.5em 0;
    padding: .5em .5em .5em 20px;
    border-bottom: 1px solid #D0D0D0;
}
#content .example p {
    margin: .5em 0;
    padding: 0 1em;
    text-align: center;
}
#content .example .paths {
	margin: .5em 0;
    padding: 0 1em;
	text-align: left;
}
/* allows tables to 'wrap' around example blocks */
#content .exampleWrap {
	padding-right: 224px;
}

#footer {
    background-color: transparent;
    font-size: 10px;
    padding: 16px 0 15px 0;
    margin: 20px 0 0 0;
    text-align: center;
	clear: both;
}

#footer p {
    font-size: 10px;
    color: #999;
    text-align: center;
}

#copyrights {
    border-top: 1px solid #DDD;
    margin: 1em 2em 0;
    opacity: .50;
    filter: Alpha( Opacity = 50);
}

#copyrights:hover {
    opacity: 1;
    filter: none;
}

#copyrights p {
    margin: .5em 0;
}

#footer address {
    font-style: normal;
}

.center {
    text-align: center;
}

img {
    padding: 0;
    border: 0;
    margin: 0;
}

.nopad {
    padding: 0;
    border: 0;
    margin: 0;
}

form {
    margin: 0;
    padding: 0;
}

.input {
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    font-size: 11px;
    color: #333;
    border: 1px solid #B3B4BD;
    width: 100%;
    font-size: 11px;
    height: 1.5em;
    padding: 0;
    margin: 0;
}

.search {
	width: 175px;
}

.textarea {
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    font-size: 14px;
    color: #143270;
    background-color: #f9f9f9;
    border: 1px solid #B3B4BD;
    width: 100%;
    padding: 6px;
    margin: 0;
}

.select {
    background-color: #fff;
    font-size: 11px;
    font-weight: normal;
    color: #333;
    padding: 0;
    margin: 0 0 3px 0;
}

.checkbox {
    background-color: transparent;
    padding: 0;
    border: 0;
}

.submit {
    background-color: #000;
    color: #fff;
    font-weight: normal;
    font-size: 10px;
    border: 1px solid #fff;
    margin: 0;
    padding: 1px 5px 2px 5px;
}
