/**
 * Main layout
 */
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

#container {
    position: relative;
}

.container {
    margin: 0 auto;
    width: 1024px;
}

#header {
    background: #455058;
    height: 37px;
}

#intro {
    background: url(../images/introBg.gif) repeat-x;
    height: 169px;
    position: relative;
}

#navMain {
    background: #96adbb;
    height: 78px;
}

#content {
    background:transparent url(../images/contentBg.gif) repeat-x scroll 0 0;
    border-top:2px solid #DBE0E4;
    margin:0 auto;
    padding:55px 72px;
    position:relative;
    width:880px;
}

.content {
    background:transparent url(../images/contentBg.gif) repeat-x scroll 0 0;
    border-top:2px solid #DBE0E4;
}

#navQuick {
    padding: 0 0 37px 0;
    height: 138px;
    background: #f7f7f7;
    clear: left;
}

#navQuick .col {
    float: left;
    width: 237px;
    padding: 28px 25px 0px 72px;
    background: url(../images/sepTny.gif) no-repeat right 15px;
    height: 100%;
}

#navQuick .colNoBg {
    float: left;
    width: 248px;
    height: 100%;
    padding: 28px 25px 0px 60px;
}

#footer {
    background: #455058;
}

.footer {
    color:#FFFFFF;
    font-size:0.8em;
    height:24px;
    left:0;
    margin:0 auto;
    padding:13px 72px 0;
    width:880px;
}

/**
 * links
 */
a img {
    border: none;
}

/**
 * header
 */
#navHeader {
    float: left;
    color: #ffffff;
    margin: 11px 0 0 72px;
    font-size: 1em;
}

#navHeader span {
    margin-right: 24px;
}

#navHeader a {
    color: #fff;
    text-decoration: none;
}

#searchHeader {
    float: right;
    margin: 6px 72px 0 0;
}

#navHeader ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navHeader ul li {
    float: left;
}

/**
 * Search
 */
.searchContainer {
    background: url(../images/searchBg.gif) no-repeat;
    width: 179px;
    height: 24px;
    padding: 2px 0 2px 28px
}

    .searchContainer .textInput {
         border: none;
         background: none;
         width: 135px;
         height: 20px;
         float:left;
    }
    
    .searchContainer .buttonInput {
         width:30px;
         opacity:0;
         filter:Alpha(opacity=0);
    }

/**
 * intro
 */
#intro .logo {
    width: 204px;
    height: 139px;
    position: absolute;
    bottom: 0px;
    left: 72px;
}

#introTeaser {
    width: 245px;
    height: 123px;
    position: absolute;
    right: 72px;
    bottom: 0px;
}

/**
 * main content
 */
#contentRight {
    width: 205px;
    position: absolute;
    background: url(../images/sepLrg.gif) no-repeat left 30px;
    padding-left:10px;
    right:0px;
}

#contentNavRight {
    margin-left: 240px;
}

#contentLeft {
    width:700px;
}

#contentNavLeft {
    float: left;
    width: 180px;
    background: url(../images/sepLrg.gif) no-repeat right 30px;
    padding-right: 10px;
}

#contentNavLeft ul {
    margin:0;
    padding: 0;
}

#contentNavLeft ul li {
    margin-left: 20px;
    padding: 2px 0 2px 0;
}

.clearfix {
    clear: both;
}

/**
 * quicklook
 */
#quicklook {
    position: absolute;
    font-size: 1.3em;
    font-family: Arial, sans-serif;
}

/**
 * default list
 */
.listDefault li {
    margin: 0;
}

/**
 * Why use dojo
 */
.listIcons {
    list-style: none;
    margin: 45px 0 0 0;
    padding: 0;
}

.listIcons li {
    padding-left: 65px;
}

.listIcons li.licence {
    background: url(../images/icons/star.gif) no-repeat -13px -6px;
}

.listIcons li.xbrowser {
    background: url(../images/icons/check.gif) no-repeat -10px -6px;
}

.listIcons li.community {
    background: url(../images/icons/community.gif) no-repeat -5px -6px;
}

/**
 * text
 */
.notice {
    color: #e52b00;
}

h1 {
    font-weight: normal;
    margin: 0;
    padding: 4px 0 4px 0;
    font-size: 1.3em;
}

h2 {
    font-weight: normal;
    margin: 0;
    padding: 3px 0 3px 0;
    font-size: 1.1em;
    color: #455058;
}

h3 {
    font-weight: normal;
    margin: 0;
    padding: 3px 0 3px 0;
    font-size: 1em;
    color: #455058;
}

p {
    color: #455058;
    font-size: 0.9em;
    margin-top: 3px;
}


/* Nav */
#contentLeft ul {
    margin: 5px;
    padding: 5px;
}